* {
  text-align: center;
  text-decoration: none;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
}
button {
  outline: none;
  cursor: pointer;
}
body {
  margin: 0;
}

a {
  cursor: pointer;
}

.header {
  margin: 0rem;
  width: 100%;
}

.header-list {
  color: rgb(13, 19, 13);
  font-size: 1.5rem;
}

.header-list li {
  padding: 0.1rem 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.navbar h1 {
  font-size: 2.5rem;
  margin: 0.5rem auto;
  color: black;
}

.but1 {
  visibility: hidden;
  display: inline-block;
  background-color: transparent;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 2rem 2rem;
}
.but {
  display: inline-block;
  background-color: transparent;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin: 2rem 2rem;
}



.but-accent {
  color: rgb(3, 82, 3);
  border-color: rgb(3, 82, 3);
}
.but-accent:hover {
  color: white;
  /* border-color: orange; */
  background-color: rgb(3, 83, 3);
  font-weight: 700;
  transition: ease-in-out 500ms;
}
.header .theme {
  font-size: 4rem;
  position: fixed;
  background-color: transparent;
  border-radius: 1rem;
  border-width: 0.2rem;
  padding: 0.8rem 0.8rem;
  color: black;
  right: 1rem;
}
.header .theme:hover {
  transform: rotate(360deg);
  transition: ease-in-out 1200ms;
}
.header li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.header li:hover {
  color: crimson;
  font-weight: 800;
  transition: ease-in-out 300ms;
}

.max-width {
  max-width: 1300px;
  padding: 0 90px;
  margin: auto;
}
.navbar img {
  position: absolute;
  float: center;
  left: 20%;
  height: 4rem;
  width: 4rem;
}
.navbar {
  background-color: rgb(181, 177, 177);
  position: relative;
  width: 100%;
  padding-top: 0.1rem;
  padding-bottom: 1.2rem;
  height: 6rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .menu li a {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 0%;
  padding: 0.2rem 0.1rem;
}
.navbar .menu li a:hover {
  color: crimson;
}

.section1 {
  background-color: white;
  width: 100%;
  height: auto;
}
.section1 img {
  cursor: grab;
  border-radius: 10rem;
  width: 50%;
  padding: 1rem 1rem;
  margin-top: 3rem;
  transition: all ease-in-out 2000ms;
}
.section1 img:hover {
  width: 20rem;
  transition: ease-in-out 1000ms;
}

.section1 h1 {
  font-size: 3.3rem;
  color: rgb(3, 82, 3);
}
.container {
  padding: 1rem 1rem;
  margin: 0 auto;
  transition: fadein 5000ms;
}
.section1 p {
  visibility: hidden;
  font-size: 1.5rem;
  transition: all fadein 100ms;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section1 .des {
  color: rgb(3, 82, 3);
  font-weight: 900;
  font-size: 1.8rem;
}
.section2 {
  background-color: rgb(139, 209, 139);
  width: 100%;
  height: auto;
}
.section2 .h {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2rem 0rem;
  font-size: 2.5rem;
}
.section2 .project {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 3rem;
  border-color: white;
  margin: 1rem;
  transition: ease-in-out 100ms;
}

.section2 .project h1 {
  font-size: 2rem;
  padding: 0rem 0rem;
}

.section2 .project button {
  /* padding-bottom: 0rem; */
  color: rgb(3, 83, 3);
  border-color: rgb(3, 84, 3);
}
.section2 .project button:hover {
  /* padding-bottom: 0rem; */
  color: white;
  /* border-color: black; */
  font-weight: 700;
  background-color: rgb(3, 83, 3);
}
.section2 .project h1 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.3rem auto;
  /* float: right; */
}
.section2 .project p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.3rem auto;
  /* float: right; */
}
.section2 .project span {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;

  padding: 3rem 0rem;
}
.section2 .project .application {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 83, 3);
  padding: 3rem 0rem;
}
.section3 {
  text-align: center;
  background-color: lightblue;
  width: 100%;
  height: 80vh;
  /* margin: 0 auto; */
  position: relative;
}

.section3 .hh {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2rem 0rem;
  font-size: 2.5rem;
  display: block;
  text-align: center;
}

.section3 h1 {
  /* text-align: center; */
  float: center;
}

.section3 p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0rem 0rem;
  /* display: inline-block; */
}
.section3 .icons img {
  /* display: inline-block; */
  width: 3rem;
  height: 3rem;
  padding: 0rem 0.5rem;
  transition: ease-in-out 1000ms;
  margin-bottom: 0rem;
}
.section3 .icons img:hover {
  /* display: inline-block; */
  width: 5rem;
  height: 5rem;
  /* color: black; */
  padding: 0rem 0.5rem;
  transform: rotate(360deg);
  transition: ease-in-out 800ms;
}
.section3 p strong {
  margin-top: 3rem;
  margin-bottom: 0rem;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.foot {
  background-color: rgb(8, 38, 44);
  width: 100%;
  height: 30vh;
}
.header-list  {
    /* margin-left: 1rem; */
    margin-right: 2.2rem;
    
    /* margin-right: 3rem; */
  }

.foot span {
  font-family: 'Tw Cen MT';
  color: white;
  font-size: 2rem;
  padding: 5rem 0rem;
  margin-top: 5rem;
  transition: ease-in-out 3000ms;
}

.foot p {
  color: rgb(67, 152, 67);
  font-size: 1.5rem;
  /* float: right; */
  /* text-align: right; */
}
.foot .mail {
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 0.8rem;
  margin: 1rem 1rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  /* float: center; */
}

@media (min-width: 1000px) {
  .navbar {
    height: 4rem;
    margin: 0 auto;
  }
  .navbar img {
    position: absolute;
    float: center;
    left: 2%;
    height: 4rem;
    width: 4rem;
    top: 1rem;
  }
  .navbar h1 {
    font-size: 3.5rem;
    float: left;
    margin: -1rem 6rem;
    padding-top: 1.6rem;
  }
  .header-list li {
    float: right;
    font-size: 1.3rem;
    margin-top: 1.4rem;
    /* margin-right: 3rem; */
  }
  .header-list {
    margin-right: 3rem;
  }
  .section1 {
    height: 100vh;
    width: 100%;
  }
  .section1 img {
    width: 23rem;
    float: left;
    margin: 2rem 0.1rem;
    margin-top: 17vh;
    border-radius: 30rem;
  }
  .section1 img:hover {
    width: 27rem;
    /* width: .2%; */
  }
  .section1 h1 {
    padding-top: 12.8rem;
  }
  .section1 button {
    font-size: 1.6rem;
    border-radius: 3rem;
  }
  .section2 .project {
    width: 10%;
    display: inline-block;
    height: 30vh;
    margin: 0.5rem 0.5rem;
  }
  .section2 .project h1 {
    font-size: 2rem;
  }
  .section2 .project p {
    font-size: 1.2rem;
    margin: 0rem auto;
  }
  .section2 .project span {
    font-size: 1rem;
  }

  .section2 .project .application {
    font-size: 1.3rem;
  }

  .but {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }

  .section2 {
    position: relative;
    height: auto;
  }
  .section2 .project .but {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    /* padding-top: 3rem; */
    margin: 0 auto;
  }
  .mini {
    /* padding: 0rem 0rem; */
    /* margin: -3rem 0rem; */
    position: relative;
  }
}

@media (min-width: 1000px) {
  .section2 .project {
    width: 28.33334%;
    float: left;
    height: 40vh;
  }

  .section2 {
    position: relative;
    height: 130vh;
  }
  .section2 .project .but {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    /* padding-top: 3rem; */
    margin: 3rem;
  }
}
